<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <%= image_tag @product.image.url %>
    </div>
    <h3><%= @product.name %></h3>
    <h4><%= number_to_currency(@product.price) %></h4>
  </div>
  <div class="col-md-8">

    <%= form_for [@product, @order] do |f| %>
      <% if @order.errors.any? %>
      <div id="error_explanation" class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <h4><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h4>

          <ul>
          <% @order.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field-group">
        <%= f.label :address %><br>
        <%= f.text_field :address %>
      </div>
      <div class="field-group">
        <%= f.label :city %><br>
        <%= f.text_field :city %>
      </div>
      <div class="field-group">
        <%= f.label :state %><br>
        <%= f.text_field :state %>
      </div>
      <div class="field-group">
        <%= f.submit "Complete Order", class: "btn btn-success" %>
      </div>
    <% end %>
  </div>
</div>
