  <div class="row">
    <%= form_for @product, :html => { :multipart => true } do |f| %>
      <% if @product.errors.any? %>
      <h4><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h4>
      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    <% end %>

    <div class="row">
      <div class="input-field col s6">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
      </div>
      <div class="input-field col s6">
        <%= f.label :price %><br>
        <%= f.text_field :price %>
      </div>

      <div class="input-field col s12">
        <%= f.label :description %><br>
        <%= f.text_area :description, class: "materialize-textarea" %>
      </div>

      <div class="input-field col s12">
        <option value="" disabled selected>Choose a category</option>
        <%= f.collection_select(:category_id, Category.all, :id, :name) %>
      </div>
        <%= f.file_field :image %><br>
        <br>
      <div class="center">
        <%= f.submit class: "btn" %>
      </div>
    </div>
  <% end %>
</div>
