<br>
<div class="hero-img">
  <%= image_tag("arroh2.png") %>
</div>

<div class="row">
  <% @products.each do |product| %>
    <div class="col s12 m6 l3">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <%= link_to (image_tag product.image.url(:medium), class: 'image'), product %>
        </div>
          <div class="card-content">
            <ul>
              <li><span class="card-title activator grey-text text-darken-4"><h5><%= product.name %></h5><i class="mdi-navigation-more-vert right"></i></span></li>
              <li><%= number_to_currency(product.price) %></li>
            </ul>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><%= product.name %><i class="mdi-navigation-close right"></i></span>
            <ul>
              <li><%= number_to_currency(product.price) %></li><br>
              <li><%= "Sold by: #{product.user.name}" %></li><br>
              <li><%= product.description %></li>
            </ul>
          </div>
      </div>
    </div>
  <% end %>
</div>
