
    <h1>All Products</h1>

      <div class="large-8 columns">
        <div class="row">
        <% @products.each do |product| %>
          <div class="large-4 small-6 columns">
            <%= link_to (image_tag product.image.url(:medium), class: 'image'), product %>
            <div class="panel">
              <h5><%= product.name %></h5>
              <h6 class="subheader"><%= number_to_currency(product.price) %></h6>
              <h6 class="subheader"><%= "Sold by #{product.user.name}" %></h6>
            </div>
          </div>
        <% end %>
        </div>
      </div>

    <% if user_signed_in? %>
      <%= link_to 'New Product', new_product_path %>
    <% end %>

