<br>
<%= link_to 'New Product', new_product_path, class: "waves-effect waves-light btn-large" %>

<ul class="collapsible popout" data-collapsible="accordion">
  <% @products.each do |product| %>
  <li>
    <div class="collapsible-header">
      <%= product.name %><span class="badge"><%= number_to_currency(product.price) %></span>
    </div>
    <div class="collapsible-body">
      <p><%= product.description %></p>
      <%= link_to "View", product, class: "waves-effect waves-light btn"%>
      <%= link_to "Edit", edit_product_path(product), class: "waves-effect waves-light btn"%>
      <%= link_to 'Destroy', product, method: :delete, data: { confirm: "Are you sure?" }, class: "waves-effect waves-light btn" %>
      <%= image_tag product.image.url(:thumb), class: "materialboxed" %>
    </div>
  </li>
  <% end %>
</ul>
