<div class="container show">
  <div class="row">
    <div class="col s12 m6 l6">
      <div class="hide-on-med-and-down">
        <div class="showimg"><%= image_tag @product.image.url(:large), class: "materialboxed" %></div>
      </div>
      <div class="hide-on-large-only">
        <div class="showimg"><%= image_tag @product.image.url(:thumb), class: "materialboxed" %></div>
      </div>
    </div>
    <div class="col s12 m6 l6">
      <h3><%= @product.name %></h3>
      <h5><%= number_to_currency(@product.price) %></h5>
        <% if current_user != @product.user %>
          <%= link_to "Buy It Now", new_product_order_path(@product), class: "btn" %>
        <% end %>
        <% if current_user == @product.user %>
          <%= link_to 'Edit', edit_product_path(@product), class: "btn" %>
          <%= link_to 'Delete', @product, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn" %>
        <% end %>
        <div class="divider"></div>
      <p><%= @product.description %></p>
    </div>
  </div>
</div>
