<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">Nashmade</a></h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <%- if current_user -%>
        <li><%= link_to 'View Sales', sales_path %></li>
        <li><%= link_to 'View Purchases', purchases_path %></li>
        <li><%= link_to 'Manage Products', seller_path %></li>
        <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
        <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
      <%- else -%>
        <li><%= link_to 'Sign Up', new_user_registration_path %></li>
        <li><%= link_to 'Sign In', new_user_session_path %></li>
      <%- end -%>
    </ul>
  </section>
</nav>
