<!DOCTYPE html>
<html>
<head>
  <title>Nashmade</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/header' %>

<%- flash.each do |key, value| -%>
  <div class="card-panel">
    <div class="flash-<%= key %>">
      <%= value %>
    </div>
  </div>
<% end %>

<% if current_page?(root_path) %>
  <div class="hero-img">
    <%= image_tag("arroh2.png") %>
  </div>
<% end %>

<div class="container">

<%= yield %>

</div>

<%= javascript_include_tag 'application', "data-turbolinks-track" => true %>
<%= render 'layouts/footer' %>

</body>

</html>
